* {
	font-family: planewalker;
	font-size: 18pt;
}

h1,
h2 {
	font-family: planewalker-bold;
	font-size: 48pt;
	text-align: center;
	color: #3b89b1;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin-top: 15px;
	margin-bottom: 15px;
}

h2 {
	font-size: 24pt;
}

section {
	padding: 10px;
	max-width: 90%;
	margin: 10px auto;
}
div.inputHolder {
	display: flex;
	flex-wrap: nowrap;
	padding: 3px;
}
img.pip {
	padding: 5px;
	height: 50px;
	float: left;
}
input {
	padding: 10px;
	border-radius: 15px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.75);
}
input#lands {
	box-sizing: border-box;
	display: none;
}
label {
	display: none;
}
button {
	padding: 10px;
	width: 100%;
    margin: 5px;
}
body {
	background-image: url("../images/bg.webp");
}
select {
	width: 100%;
	padding: 10px;
	border-radius: 15px;
}
div#popup {
	width: 80%;
	height: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../images/bg.webp");
    border: 5px solid black;
	border-radius: 15px;
	box-sizing: border-box;
    visibility: hidden;
}
div#buttonPositioner {
	position: absolute;
	box-sizing: border-box;
	bottom: 0px;
	width: 100%;
	padding: 10px;
}
button#closeButton {
	width: 100%;
    margin: 0px;
}
table {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

@font-face {
  font-family: planewalker;
  font-display: auto;
  src: url(../fonts/Planewalker-38m6.ttf);
}

@font-face {
  font-family: planewalker-bold;
  font-display: auto;
  src: url(../fonts/PlanewalkerBold-xZj5.ttf);
}