body {
	font-family: sans-serif;
	background-color: rgb(31, 31, 31);
	color: white;
}

header {
	display: block;
	background-color: rgb(46, 46, 46);
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 20px;
}

h1 {
	margin-top: 0px;
}

#tableContainer {
	width: 100%;
}

#table {
	margin: 0 auto;
}

.base-cell {
	background-color: lightgrey;
	color: #008a00;
	border: 2px solid white;
	text-align: center;
	vertical-align: middle;

	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */

}

.base-cell:hover {
	border: 2px solid rgb(56, 165, 255);
	border-radius: 7px;
}